{% load static %}
<script src="{% static 'static/js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'static/js/4a55c4159e.js' %}"></script>
<script src="{% static 'static/css/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'static/css/vendors/js/vendor.bundle.addons.js' %}"></script>
<script src="{% static 'static/js/off-canvas.js' %}"></script>
<script src="{% static 'static/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'static/js/template.js' %}"></script>
<script src="{% static 'static/js/settings.js' %}"></script>
<script src="{% static 'static/js/dashboard.js' %}"></script>
<script src="{% static 'static/js/todolist.js' %}"></script>
<script src="{% static 'static/js/jquery.datetimepicker.js' %}"></script>