<div class="card {{shadow}}">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h1 style="font-family:Pacifico">Vehicle Details</h1>
            </div>
            <div class="col-4">
                <div class="float-right">
                    <a href="{% url 'vehicle:update' pk=object.id %}" class="btn btn-dark text-white"><i
                            class="fas fa-edit text-white"></i></a>
                    <a href="{% url 'vehicle:delete' pk=object.id %}" class="btn btn-danger text-white"><i
                            class="fa fa-trash text-white" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="offset-1 col">
                <h1 style="font-family:Pacifico">
                    {{object.name}}
                </h1>
                <div style="font-family:'Century Gothic'">
                    <div class="row">
                        <div class="col">
                            <h4>
                                by {{object.user}}
                            </h4>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <h6 class="font-weight-bold">Images:</h6>
                            <div class="row m-3">
                                <div class="m-2">
                                    {% if object.images %}
                                    <a class="title" href="">
                                        <img src="/media/{{object.images}}" class="img-thumbnail float-left"
                                            style="width:200px;height:120px;" />
                                    </a>
                                    {% else %}
                                    <p class="h5">No images !!</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h6 class="font-weight-bold ">Basic Details:</h6>
                    <div class="row">
                        <div class="col">
                            <h6>
                                Rate: $ {{object.rate}}
                            </h6>
                        </div>
                        <div class="col">
                            <h6>
                                Color: {{object.color}}
                            </h6>
                        </div>
                        <div class="col">
                            <h6>
                                Model: {{object.model}}
                            </h6>
                        </div>

                    </div>
                    <hr />
                    <h6 class="font-weight-bold">Complex Details:</h6>
                    <div class="row">
                        <div class="col">
                            <p>
                                Vehicle Number: {{object.registration_number}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                Body Number: {{object.body_number}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                Engine Number: {{object.engine_number}}
                            </p>
                        </div>
                    </div>
                    <hr />
                    <h6 class="font-weight-bold">Description:</h6>
                    <div class="row">
                        <div class="col">
                            <p>
                                {{object.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <hr />
    </div>
</div>