{% extends 'base.html' %}
{% block title %}
{{block.super}}Create Tweet
{% endblock title %}
{% block body %}

<div class="card shadow-lg">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h1 class="styled-font">Removing Vehicle</h1>
            </div>
        </div>
        <hr />
        <div class="m-4">
            {% include 'vehicle/detail.html' with shadow='shadow' %}
        </div>
        <div class="p-1"></div>
        <hr />
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Are you sure you want to delete this "{{object}}" ?</h1>
            <a href="{% url 'vehicle:list' %}">Go back to list</a> |
            <input type="submit" value="Confirm" class="btn btn-danger mt-2">
        </form>
    </div>
</div>
{% endblock body %}