{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Video Conferencing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- <script src="menu.js"></script> -->
    <link rel="stylesheet" href="{% static 'static/css/horizontal-layout/style.css' %}">
    <link rel="stylesheet" href="{% static 'static/css/getHTMLMediaElement.css' %}">

</head>

<body>
    <div class="container-fluid">
        <div class="text-center p-4">
            <h1>
                Video Conferencing
            </h1>
        </div>

        <section class="make-center">
            <div>
                <label><input type="checkbox" id="record-entire-conference"> Record Entire Conference In The
                    Browser?</label>
                <span id="recording-status" style="display: none;"></span>
                <button id="btn-stop-recording" style="display: none;">Stop Recording</button>
                <br><br>

                <input type="text" id="room-id" value="abcdef" autocorrect=off autocapitalize=off size=20>
                <button id="open-room">Open Room</button>
                <button id="join-room">Join Room</button>
                <button id="open-or-join-room">Auto Open Or Join Room</button>
            </div>

            <div id="videos-container" style="margin: 20px 0;"></div>

            <div id="room-urls"
                style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;">
            </div>
        </section>
    </div>

    <script src="{% static 'static/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'static/js/RTCMultiConnection.js' %}"></script>
    <script src="{% static 'static/js/socket.io.js' %}"></script>
    <script src="{% static 'static/js/getHTMLMediaElement.js' %}"></script>
    <script src="{% static 'static/js/conference-video.js' %}"></script>


    <footer>
        <small id="send-message"></small>
    </footer>

    <script src="{% static 'static/js/common.js' %}"></script>
</body>

</html>